<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="NeuronNetworkParameters" type="NeuronNetwork.NeuronNetworkParametersSection, NeuronNetwork"/>
  </configSections>

  <NeuronNetworkParameters>
    <BaseParameters>
      <add SPEED="0,7"
           MOMENT="0,7"
           
           INPUT_NEURONS_COUNT = "2"
           HIDDEN_LAYER_COUNT="1"
           HIDDEN_NEURONS_ON_LAYERS_COUNT="4"
           OUT_NEURONS_COUNT = "1"
           USAGE_BIAS="true"
           
           MIN_SYNAPS_WEIGHT="-1"
           MAX_SYNAPS_WEIGHT="1"
           />
    </BaseParameters>
  </NeuronNetworkParameters>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>




